body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 21px;
  line-height: 1.8;
}

.neon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0 20px;
  font-weight: 300;
  font-size: 5em;
  color: #fff;
  text-shadow: 0 0 22px #ff005b;
}

.neon:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: -1;
  color: #ff005b;
  filter: blur(15px);
}

.neon:before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fe3a80;
  opacity: .5;
  filter: blur(40px);
}

.content-html, .content-howto {
  margin-left: 15%;
  padding: 1px 50px;
}

a {
  color: #767ef2;
  text-decoration: underline;
  font-style: italic;
}

.ex {
  width: 100%;
  background: url('night-trees-stars.jpg');
  position: relative;
  display: inline-block;
}

.container {
  width: 100%;
  position: relative;
  display: inline-block;
}

.cards {
  border: 1px solid #999;
  width: 30%;
  height: 10%;
  padding: 0% 2% 0% 4%;
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-style: none;
}

.ex-number {
  text-decoration: underline;
  font-style: italic;
  font-size: 16px;
}

.ex-title {
  text-decoration: none;
  font-style: italic;
}

.cards:hover:not(.active) {
  background-color: #fff;
  color: #767ef2;
  box-shadow: 0px 2px 20px #dfdfdf;
}

/*** footer ***/

footer {
  font-size: 14px;
  text-align: right;
  padding-right: 50px;
  background-color: #767ef2;
  color: #fff;
}